In [622]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime as dt
import itertools

In [637]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
792,tt0448694,130000000,554987477,Puss in Boots,Antonio Banderas|Salma Hayek|Zach Galifianakis...,Chris Miller,Live for danger. Fight for justice. Pray for m...,"Long before he even met Shrek, the notorious f...",90,Action|Adventure|Animation|Family|Fantasy,DreamWorks,10/28/2011,6.9,2011
578,tt0227538,35000000,147934180,Spy Kids,Alexa PenaVega|Daryl Sabara|Antonio Banderas|C...,Robert Rodriguez,Real spies...only smaller,Carmen and Juni think their parents are boring...,88,Action|Comedy|Family|Adventure,Dimension Films|Troublemaker Studios|Miramax,3/18/2001,5.5,2001
1633,tt0375063,16000000,109502303,Sideways,Paul Giamatti|Thomas Haden Church|Virginia Mad...,Alexander Payne,In search of wine. In search of women. In sear...,Two middle-aged men embark on a spiritual jour...,126,Comedy|Drama|Romance,Fox Searchlight Pictures|Michael London Produc...,10/22/2004,6.6,2004
1593,tt0337563,37000000,96455697,13 Going On 30,Jennifer Garner|Mark Ruffalo|Judy Greer|Andy S...,Gary Winick,"For some, 13 feels like it was just yesterday....",After total humiliation at her thirteenth birt...,98,Comedy|Fantasy|Romance,Columbia Pictures|Revolution Studios|Thirteen ...,4/13/2004,6.1,2004
41,tt1655441,25000000,42629776,The Age of Adaline,Blake Lively|Michiel Huisman|Harrison Ford|Ell...,Lee Toland Krieger,Love is timeless.,After 29-year-old Adaline recovers from a near...,112,Fantasy|Drama|Romance,Lakeshore Entertainment|Sidney Kimmel Entertai...,4/16/2015,7.3,2015

In [638]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [640]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget'] 

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [641]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'#+
# если ответили верно, можете добавить комментарий со значком "+"

In [627]:
data[data.budget == data.budget.max()]['original_title'] #+

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [628]:
data[data.budget == data.budget.max()]['imdb_id'] #+

723    tt1298650
Name: imdb_id, dtype: object

ВАРИАНТ 2

In [629]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [642]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [631]:
data[data.runtime == data.runtime.max()]['original_title'] #+

1157    Gods and Generals
Name: original_title, dtype: object

In [537]:
data[data.runtime == data.runtime.max()]['imdb_id'] #+

1157    tt0279111
Name: imdb_id, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [643]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [539]:
data[data.runtime == data.runtime.min()]['original_title'] #+

768    Winnie the Pooh
Name: original_title, dtype: object

In [540]:
data[data.runtime == data.runtime.min()]['imdb_id'] #+

768    tt1449283
Name: imdb_id, dtype: object

# 4. Какова средняя длительность фильмов?

In [644]:
answers['4'] = '110'

In [645]:
data.describe().loc['mean', 'runtime'] #+

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [646]:
answers['5'] = '107'

In [647]:
data.describe().loc['50%', 'runtime'] #+

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [648]:
answers['6'] = '239. Avatar (tt0499549)'#+

In [649]:
# data = data.assign(profit = [revenue] - [budget])
# profit = revenue - budget
data[data.profit == data.profit.max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [650]:
data[data.profit == data.profit.max()]['imdb_id']

239    tt0499549
Name: imdb_id, dtype: object

# 7. Какой фильм самый убыточный?

In [651]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'#+

In [652]:
data[data.profit == data.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [653]:
data[data.profit == data.profit.min()]['imdb_id']

1245    tt1210819
Name: imdb_id, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [654]:
answers['8'] = '1478'#+

In [655]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [656]:
answers['9'] = '599. The Dark Knight (tt0468569)'#+

In [657]:
data.loc[data.release_year.isin([2008])].sort_values(by = 'revenue', ascending = True)['original_title']

712                                    Mutant Chronicles
711                              The Midnight Meat Train
702                                   The Brothers Bloom
673                                        Transsiberian
708                                   What Just Happened
                             ...
607                                           Mamma Mia!
621                                              Hancock
606                                        Kung Fu Panda
603    Indiana Jones and the Kingdom of the Crystal S...
599                                      The Dark Knight
Name: original_title, Length: 121, dtype: object

In [658]:
data.loc[data.release_year.isin([2008])].sort_values(by = 'revenue', ascending = True)['imdb_id']

712    tt0490181
711    tt0805570
702    tt0844286
673    tt0800241
708    tt0486674
         ...
607    tt0795421
621    tt0448157
606    tt0441773
603    tt0367882
599    tt0468569
Name: imdb_id, Length: 121, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [659]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'#+

In [660]:
data.loc[data.release_year.isin([2012, 2013, 2014])].sort_values(by = 'profit', ascending = True)['original_title']

1245                    The Lone Ranger
1214                           R.I.P.D.
1007                        Upside Down
1302    Legends of Oz: Dorothy's Return
1235                 Bullet to the Head
                     ...
1189                    Despicable Me 2
974                             Skyfall
1180                         Iron Man 3
1177                             Frozen
970                        The Avengers
Name: original_title, Length: 367, dtype: object

In [661]:
data.loc[data.release_year.isin([2012, 2013, 2014])].sort_values(by = 'profit', ascending = True)['imdb_id']

1245    tt1210819
1214    tt0790736
1007    tt1374992
1302    tt0884726
1235    tt1308729
          ...
1189    tt1690953
974     tt1074638
1180    tt1300854
1177    tt2294629
970     tt0848228
Name: imdb_id, Length: 367, dtype: object

# 11. Какого жанра фильмов больше всего?

In [662]:
answers['11'] = 'Drama'#-

ВАРИАНТ 2

In [699]:
data11 = data.copy()
data11['genres'] = data11.genres.str.split('|')
data11= data11.explode('genres') 
data11.genres.value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [664]:
answers['12'] = 'Drama'#+

In [665]:
data_12 = data.copy()
data12 = data_12.query('revenue > budget').copy()
data12['genres'] = data12.genres.str.split('|')
data12=data12.explode('genres')
profit_genre = data12.genres.value_counts().index[0]
profit_genre

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [666]:
answers['13'] = 'Peter Jackson' #+

In [667]:
data13=data.copy()
data13['director'] = data13.director.str.split('|')
data13=data13.explode('director')
data13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [668]:
answers['14'] = 'Robert Rodriguez' #+

In [700]:
data14 = data[data.genres.str.contains('Action')].copy()
data14.director = data14.director.str.split('|')
data14 = data14.explode('director') 
data14.director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [670]:
answers['15'] = 'Chris Hemsworth' #+

In [671]:
data15 = data.copy()
data15 = data15.loc[data15.release_year.isin([2012])].sort_values(by = 'revenue', ascending = True).copy()
data15.cast = data15.cast.str.split('|')
data15 = data15.explode('cast')
data_15.groupby('cast').revenue.sum().idxmax()

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [672]:
answers['16'] = 'Matt Damon' #+

In [701]:
data16 = data.copy()
data16 = data16.query('budget > budget.mean()').copy()
data16['cast'] = data16.cast.str.split('|')
data16=data16.explode('cast')
data16.cast.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [674]:
answers['17'] = 'Action' #+

In [702]:
data17 = data.copy()
data17 = data17[data17.cast.str.contains('Nicolas Cage')].copy()
data17.genres = data17.genres.str.split('|')
data17 = data17.explode('genres') 
data17.genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [676]:
answers['18'] = 'K-19: The Widowmaker' #+

In [677]:
data18 = data.copy()
data18 = data18[data18.production_companies.str.contains('Paramount Pictures')]
data18.groupby(['original_title'])['profit'].min().sort_values(ascending=True).index[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [678]:
answers['19'] = '2015' #+

In [679]:
data19 = data.copy()
data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [680]:
answers['20'] = '2011' #+

In [681]:
data20 = data.copy()
data20 = data20[data20.production_companies.str.contains('Warner Bros')]
data20.groupby(['release_year'])['profit'].max().sort_values(ascending=False).index[0]

2011

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [682]:
answers['21'] = 'September' #+

In [683]:
data21 = data.copy()
data21['release_date'] = pd.to_datetime(data21['release_date'])
data21.release_date = data21.release_date.apply(lambda x: x.strftime('%B'))
num1 = data21.query('release_date in ["January"]').shape[0]
num2 = data21.query('release_date in ["June"]').shape[0]
num3 = data21.query('release_date in ["December"]').shape[0]
num4 = data21.query('release_date in ["September"]').shape[0]
num5 = data21.query('release_date in ["May"]').shape[0]
print('В январе за отчетный период суммарно выпущено - ', num1, 'фильмов')
print('В июне за отчетный период суммарно выпущено - ', num2, 'фильмов')
print('В декабре за отчетный период суммарно выпущено - ', num3, 'фильмов')
print('В сентябре за отчетный период суммарно выпущено - ', num4, 'фильмов')
print('В мае за отчетный период суммарно выпущено - ', num5, 'фильмов')

В январе за отчетный период суммарно выпущено -  110 фильмов
В июне за отчетный период суммарно выпущено -  147 фильмов
В декабре за отчетный период суммарно выпущено -  190 фильмов
В сентябре за отчетный период суммарно выпущено -  227 фильмов
В мае за отчетный период суммарно выпущено -  140 фильмов

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [684]:
answers['22'] = '450' #+

In [703]:
data22 = data.copy()
data22['release_date'] = pd.to_datetime(data22['release_date'])
data22.release_date = data22.release_date.apply(lambda x: x.strftime('%B'))
data22.query('release_date in ["June", "July", "August"]').shape[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [686]:
answers['23'] = 'Peter Jackson' #+

In [688]:
data_23 = data.copy()
data_23.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x, '%m/%d/%Y'))
data_23.release_date = data_23.release_date.apply(lambda x: x.strftime('%B'))
data_23 = data_23.query('release_date in ["December", "January", "February"]')
data_23['director'] = data_23.director.str.split('|').copy()
data_23 = data_23.explode('director')
data_23.groupby(['director'])['imdb_id'].count().sort_values(ascending = False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [689]:
answers['24'] = 'Four By Two Productions' #+

In [690]:
data24 = data.copy()
data24['production_companies'] = data24.production_companies.str.split('|').copy()
data24 = data24.explode('production_companies')
data24['title_len'] = data24['original_title'].apply(len)
data24.groupby('production_companies').title_len.mean().sort_values(ascending = False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [691]:
answers['25'] = 'Midnight Picture Show' #+

In [692]:
data25 = data.copy()
data25['production_companies'] = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
def len_words(s):
    return len(s.split(' '))
data25['overview_len'] = data25.overview.apply(len_words)  
data25.pivot_table(['overview_len'],['production_companies'], 
                   aggfunc='mean').sort_values(by='overview_len',                                              
                                            ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [693]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+

In [694]:
data26 = data.copy()
data26[data26['vote_average'] > data26['vote_average'].quantile(q=0.99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [695]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint' #+

In [704]:
data27 = data.copy()
data27['cast'] = data27.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
data27_1 = data27.explode('cast')
data27_1.cast.value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Chiwetel Ejiofor, Lymari Nadal)       1
(Ben Affleck, Sydney Pollack)          1
(Nicolas Cage, Michael PeÃ±a)          1
(John Robinson, Michael Angarano)      1
(Zac Efron, Leslie Mann)               1
Name: cast, Length: 18121, dtype: int64

# Submission

In [705]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2011',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [706]:
# и убедиться что ни чего не пропустил)
len(answers)

27